#centrado{
    display: block;
    margin: auto;
}
.content{
    background: #FAFAFA;
    padding: 20px;
    width: 100%;
    height: auto;
}

#btnPanel{
    width: 100%;
    height: auto;
    background: #0F7A87;
    color: white;
}

#btnPanel:hover{
    background: white;
    border: 2px solid #0F7A87;
    color: #0F7A87;
}

.wrap{
    width: 800px;
    max-width: 90%;
    margin: 30px auto;
}
 
.secciones{
    width: 100%;
    background: #fff;
}

.secciones article{
    padding: 30px;
}

.secciones article p{
    text-align: justify;
}


ul.tabs{
    width: 100%;
    background: #363636;
    list-style:none;
    display: flex; 
}

ul.tabs li{
    width: 50%;
}

ul.tabs li a{
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    display: block;
    text-align: center;
    padding: 20px 0px;
}

.active{
        background: #0F7A87;
}

ul.tabs li a .tab-text{
    margin-left: 10px; 
}
.secciones{
    width: 100%;
    background: #fff;
}

.secciones article{
    padding: 30px;
}

.secciones article p{
    text-align: justify;
}

@media screen and (max-width: 700px){
    ul.tabs li{
        width: none;
        flex-basis: 0;
        flex-grow: 1;
    }
}

@media screen and (max-width: 450px){
    ul.tabs li a{
        padding: 15px 0px;
    }
    ul.tabs li a .tab-text{
        display: none;
    }
    .tabs-container article{
        padding: 20px;
    }

}
