/* Incio de barras de progreso */
#barra {
  height: 10px;
  border-radius: 0;
}

#barra2 {
  height: 3px;
  background: linear-gradient(to left, #ff8a65, #ff3d00);
  border-radius: 0;
}

#pro1 {
  width: 60%;
  background: #1b5e20;
}

#pro2 {
  width: 10%;
  background: #2e7d32;
}

#pro3 {
  width: 10%;
  background: #43a047;
}

#pro4 {
  width: 10%;
  background: #00695c;
}

#pro5 {
  width: 10%;
  background: #00838f;
}

#tab-header {
  background: #1b5e20;
  color: #FFF;
  padding: 5px;
}
