.thumbnail {
    text-align: justify;
    background: linear-gradient( 0deg, #ABD7C4, #F9F5CE);
}
.thumbnail {
    min-height: 200px;
    text-align: justify;
}

.thumbnail .caption p a {
    position: absolute;
    bottom: 25px;
    right: 25px;
}

.thumbnail .caption {
    margin-right: 60px;
}

.thumbnail .caption h4 {
    text-align: left;
    margin-bottom: 20px;
    display: flex;
}

.thumbnail .caption h4 span {
    padding-right: 5px;
}

.thumbnail .caption div {
   padding: 0px;
   text-align: left;
}

.thumbnail .caption div p {
   display: flex;
}

.thumbnail .caption div p span {
   margin-right: 5px;
}


#form_filtro_reporte select {
     min-width:183px;
}

.reporte {
    height: 460px;
    overflow: auto;
}
