.thumbnail {
    min-height: 0px;
    text-align: justify;
    background: linear-gradient( 0deg, #ABD7C4, #F9F5CE);
}

.thumbnail .caption p a {
    position: absolute;
    bottom: 25px;
    right: 25px;
}

.thumbnail .caption h4 {
    text-align: left;
    margin-bottom: 20px;
    display: flex;
}

.thumbnail .caption h2 span {
    padding-right: 5px;
}

.thumbnail .caption div {
   padding: 0px;
   text-align: left;
}

.thumbnail .caption div p {
   display: flex;
}

.thumbnail .caption div p span {
   margin-right: 5px;
}

.reporte {
    height: 460px;
    overflow: auto;
}

.caption {
    text-align: center;
}

.submenu {
    padding-left: 25px; padding-top: 4px; padding-bottom: 4px;
}

span.list-group-item {
    color: green;
}

/*.lateral .list-group > a:first-child {
    color: #09843B;
}*/

.caption .btn-lg {
    width: 130px;
}

.caption .glyphicon[name=iconosReportes] {
    font-size: 40px;
}

.caption .glyphicon[name=iconosReporte] {
    font-size: 30px;
    margin-right: 10px;
}
